{include file="public/header"/}

<body class="gray-bg">



<div style="display:none;">
<!--此处为：CNZZ数据统计代码，请联系技术总监为客户注册，替换以下代码即可-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253472858'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D1253472858%26online%3D1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script>
<!--此处为：通过上述CNZZ数据统计代码，得到相应字段进行元素赋值-->
window.onload=function(){
	// var num = $("#cnzz_stat_icon_1253472858").html();
	// var data = /([^\[\]]+)(?=\])/g;
	// data = num.match(data);
	//
	// var add = "<span style=\"font-size:14px\"> IP</span>"
	// var dayip = data[0];
	// var dayip2 = data[2];
	// $("#dayip").html(dayip+add);
	// $("#dayip2").html(dayip2+"IP");
	// dayip = parseInt(dayip);
	// dayip2 = parseInt(dayip2);
	// if(dayip>dayip2){
	// 		var daysum = dayip-dayip2;
	// 		$("#dayip3").html("+"+daysum);
	// 		$("#dayipclass").attr("class","fa fa-level-up");
	// 	}else{
	// 		var daysum = dayip2-dayip;
	// 		$("#dayip3").html("-"+daysum);
	// 		$("#dayipclass").attr("class","fa fa-level-down");
	// }
	//
	// var add2 = "<span style=\"font-size:14px\"> PV</span>"
	// var daypv = data[1];
	// var daypv2 = data[3];
	// $("#daypv").html(daypv+add2);
	// $("#daypv2").html(daypv2+"PV");
	// daypv = parseInt(daypv);
	// daypv2 = parseInt(daypv2);
	// if(daypv>daypv2){
	// 		var daysum2 = daypv-daypv2;
	// 		$("#daypv3").html("+ "+daysum2);
	// 		$("#daypvclass").attr("class","fa fa-level-up");
	// 	}else{
	// 		var daysum2 = daypv2-daypv;
	// 		$("#daypv3").html("- "+daysum2);
	// 		$("#daypvclass").attr("class","fa fa-level-down");
	// }
	//
	// var add3 = "<span style=\"font-size:14px\"> 人</span>"
	// var online = data[4];
	// $("#online").html(online+add3);
    //
	//
	//
    //
	// }

</script>

<div class="wrapper wrapper-content">
    <!--<div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div>尊敬的会员<span id="weather"></span></div>
    </div>-->
    <!-- 上方tab -->
    <div class="row">
        <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总计</span>
                        <h5>未审广告</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><span id="online">{$ad_count}<span style="font-size:14px"> 个</span></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">总计</span>
                        <h5>未审会员</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><span>{$ag_count}<span style="font-size:14px"> 人</span></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">总计</span>
                        <h5>即将到期会员</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><span>{$member_end}<span style="font-size:14px"> 人</span></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">总计</span>
                        <h5>总广告费</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><span id="dayip">{$amount}<span style="font-size:14px"> 元</span></span></h1>
                    </div>
                </div>
            </div>
        
        <div class="row">
        <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>待审核会员</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content" style="overflow:hidden;">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>申请时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {volist name="members" id="vo"}
                                        <tr>
                                            <td style="verflow:hidden;">{$vo.name}</td>
                                            <td class="text-navy"> {$vo.date|date='Y-m-d',###}</td>
                                        </tr>
                                  	{/volist}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>即将到期会员</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                           
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                    <tr>
                                        <th style="verflow:hidden;">姓名</th>
                                        <th style="verflow:hidden;">到期时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="members_1" id="vo"}
                                    <tr>
                                        <td style="verflow:hidden;">{$vo.nick_name}</td>
                                        <td class="text-navy"> {$vo.date_end|date='Y-m-d',###}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        
        
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
              
                    <div class="ibox-content">
                        <div class="feed-activity-list">
							
                            <div class="feed-element">
                                <div>
                                  <small class="pull-right text-navy"></small>
                                    <strong>当前时间：</strong>
                                    <div id="weather_time"></div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p><i class="fa fa-sitemap"></i> 框架版本：ThinkPHP{$info.think_v}</p>
                                <p><i class="fa fa-windows"></i> 服务环境：{$info.web_server}</p>
                                <p><i class="fa fa-warning"></i> 上传附件限制：{$info.onload}</p>
                                <p><i class="fa fa-credit-card"></i> PHP 版本：{$info.phpversion}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>