{include file="public/_header" /}
<body>
<!-- header -->
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">首页</h1>
</header>
<!-- 图片轮播 -->
<div id="slider" class="mui-slider" >
    <div class="mui-slider-group mui-slider-loop">

    </div>
</div>
<div class="mui-content">
    <ul class="mui-table-view mui-grid-view mui-grid-9">
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/notice/index.html">
                <img src="/static/index/images/notice.png" width="64px" height="64px">
                <div class="mui-media-body">公司公告</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/course/index.html">
                <img src="/static/index/images/cursor.png" width="64px" height="64px">
                <div class="mui-media-body">培训课程</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/ad/index.html">
                <img src="/static/index/images/ad.png" width="64px" height="64px">
                <div class="mui-media-body">我的广告</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/finance/index.html">
                <img src="/static/index/images/caiwu.png" width="64px" height="64px">
                <div class="mui-media-body">财务管理</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/money/index.html">
                <img src="/static/index/images/zijin2.png" width="64px" height="64px">
                <div class="mui-media-body">资金记录</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
            <a href="/index/shop/index.html">
                <img src="/static/index/images/shop.png" width="64px" height="64px">
                <div class="mui-media-body">积分商城</div>
            </a>
        </li>
        <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="float: right;">
            <a href="/index/login/loginout.html">
                <img src="/static/index/images/quite.png" width="64px" height="64px">
                <div class="mui-media-body">退出系统</div>
            </a>
        </li>
    </ul>
</div>
{include file="public/_footer" /}
<script>
    mui.init();
</script>
</body>
</html>