{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>积分记录</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div  class="col-sm-2" style="width: 120px">
                        <div class="input-group" >
                            <a class="btn btn-outline btn-primary" href="{:url('add')}">添加积分记录</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th style="width: 5%">ID</th>
                            <th style="width: 60%;text-align: left;">类型</th>
                            <th style="width: 10%;text-align: right;">积分</th>
                            <th style="width: 15%;">备注</th>
                        </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td style="width: 5%">{{d[i].id}}</td>
                                <td style="width: 60%;text-align: left;"></td>
                                <td style="width: 10%;text-align: right;">
                                </td>
                                <td>
                                </td>
                            </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>



                    </table>
                </div>
            </div>





        </div>
    </div>
</div>



{include file="public/footer" /}
</body>
</html>