{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
    .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
    .file-item .info{overflow: hidden;}
    .uploader-list{width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加培训课程</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="add" id="add" method="post" action="add">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">去向</label>
                            <div class="input-group col-sm-4">
                                {foreach name="target" item="val"}
                                <label><input type="checkbox" name="target[]" id="target_{$key}" value="{$key}">{$val}</label>
                                {/foreach}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">标题</label>
                            <div class="input-group col-sm-4">
                                <input type="text" name="title" id="title" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">类别</label>
                            <div class="input-group col-sm-4">
                                <select name="model" id="model" class="form-control">
                                    <option value="2">图片分页</option>
                                    <option value="1">图文</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">类型</label>
                            <div class="input-group col-sm-4">
                                <select name="type" id="type" class="form-control">
                                    {foreach name="types" item="val"}
                                        <option value="{$key}">{$val}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div id="rich" style="display: none;">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="text-align: right">内容</label>
                                <div class="input-group col-sm-8">
                                    <script src="/static/admin/ueditor/ueditor.config.js" type="text/javascript"></script>
                                    <script src="/static/admin/ueditor/ueditor.all.js" type="text/javascript"></script>
                                    <textarea name="content" id="content"></textarea>
                                    <script type="text/javascript">
                                        var editor = new UE.ui.Editor();
                                        editor.render("content");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div id="pic">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="text-align: right">上传图片</label>
                                <div class="input-group col-sm-9">
                                    <div id="imgPicker" style="float:left">选择图片</div>
                                    <div class="col-sm-12" id="loans_images">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                        <input type="hidden" name="images" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script>
    var images = [],
        nums = 0;
    $(function () {
        WebUploader.create({
            auto: true, //选完文件后，是否自动上传。
            swf: '/static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('Upload/upload')}",// 文件接收服务端。
            duplicate :true,//重复上传图片，true为可重复false为不可重复
            pick: '#imgPicker',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function(file, data, response) {
                $('#loans_images').append('<span style="width: 100px;height: 100px;display: block;float: left;margin-left: 10px;position:relative;"><a style="color:red;font-weight: bold;z-index: 9999;left: 90px; position:relative;top:0px;position: absolute;" onclick="delImg(this)">X</a><img src="'+data._raw+'" width="100px" height="100px" style="margin-right: 10px;" /></span>');
                images.push(data._raw);
                ++nums;
                $('input[name="images"]').val(images.join('|'));
            }
        });
        $('#add').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        //上传图片
        $('#model').change(function (){
            var model = $('#model').val();
            if(model == 1){
                $('#rich').show();
                $('#pic').hide();
            }else {
                $('#rich').hide();
                $('#pic').show();
            }
        });
    });

    function checkForm() {
        var title = $('#title').val(),
            model = $('#model').val(),
            content = UE.getEditor('content').getContent(),
            targets = $('input[name="target[]"]:checked');

        if(targets.length == 0) {
            otcms.error('请选择去向');
            return false;
        }
        if(title == '') {
            otcms.error('标题不能为空!');
            return false;
        }
        if(model == 1){
            if(content == ''){
                otcms.error('内容不能为空!');
                return false;
            }
        }else {
            if(nums == 0) {
                otcms.error('请上传图片!');
                return false;
            }
        }
        $('input[name="images"]').val(images.join('|'));
    }
    function complete(res) {
        if(res.code == 1) {
            otcms.success(res.msg,res.url);
        }else {
            otcms.error(res.msg);
        }
    }
    function delImg(obj) {
        layer.confirm('确认删除吗?', {icon: 3, title:'提示'}, function(index){
            var src = $(obj).next().attr('src');
            for(var i=0;i<images.length;++i) {
                if(src == images[i]) {
                    delete images[i];
                }
            }
            --nums;
            $('input[name="images"]').val(images.join('|'));
            $(obj).parent().remove();
            layer.close(index);
        });
    }
</script>
</body>
</html>