{include file="public/_header" /}
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
    <h1 class="mui-title">提现</h1>
</header>
<div class="mui-content" style="margin-top: 10px;">
    <div class="mui-content-padded">
        <form name="addForm" id="addForm" method="post" action="add" >
            <h5>提现金额</h5>
            <div class="mui-input-row mui-password">
                <input type="number" name="amount" id="amount" class="mui-input-password" data-input-password="5" value="{$info['money']}">
                <span style="color: #9e9e9e;background-color: #ffffff;">
                    <span style="float: left;font-size: 16px">可用余额:{$info['money']}</span>
                </span>
            </div>
            <div class="mui-button-row">
                <button type="submit" class="mui-btn mui-btn-primary mui-btn-block">提现</button>
            </div>
        </form>
    </div>
</div>
{include file="public/_footer" /}
<script>
    var money = "{$info['money']}";
    $(function () {
        $('#addForm').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
    });

    function checkForm() {
        var amount = $('#amount').val();
        if(amount == '' || amount <= 0) {
            mui.toast('请填写正确体现的金额!');
            return false;
        }
        if(amount > money){
            mui.toast('金额大于可提现金额!');
            return false;
        }
    }
    function complete(res) {
        if(res.code == 1){
            otcms.success(res.msg,res.url);
        }else {
            otcms.error(res.msg);
        }
    }




</script>
</body>
</html>