{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>积分兑换记录</h5>
        </div>
        <div class="ibox-content">
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th>ID</th>
                            <th style="text-align: left;">代理昵称</th>
                            <th style="text-align: left;">产品名称</th>
                            <th style="text-align: left;">兑换时间</th>
                            <th style="text-align: left;">兑换数量</th>
                            <th style="text-align: left;">状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                            <tr class="long-td">
                                <td style="width: 5%">{{d[i].id}}</td>
                                <td style="text-align: left;">{{d[i]['member']}}</td>
                                <td style="text-align: left;">{{d[i]['product']}}</td>
                                <td style="text-align: left;">{{d[i].date}}</td>
                                <td style="text-align: left;">1</td>
                                <td style="text-align: left;">
                                    {{# if(d[i].state == 1) { }}
                                        已处理
                                    {{# }else {  }}
                                        未处理
                                    {{# } }}
                                </td>
                                <td>
                                    <a href="javascript:;" onclick="deal({{d[i].id}})" class="btn btn-primary btn-xs">
                                        <i class="fa fa-paste"></i>处理</a>&nbsp;&nbsp;
                                </td>
                            </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        $.getJSON('{:url("conversion/index")}', {page: curr || 1,key:key}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }
    function deal(id) {
        var data = {
            id : id
        };
        $.post('deal.html',data,function (res) {
            if(res.code == 1) {
                otcms.success(res.msg,res.url);
            }else {
                otcms.error(res.msg);
            }
        },'JSON');
    }
</script>
</body>
</html>