{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑积分规则</h5>
                </div>
                <div class="ibox-content">
                    <form name="add" class="form-horizontal" id="add" method="post" action="edit.html">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">类型</label>
                            <div class="input-group col-sm-4">
                                <select name="model" id="model" class="form-control">
                                    {foreach name="model" item="val"}
                                    <option value="{$key}" {eq name="data['model']" value="$key" } selected {/eq} >{$val}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">规则</label>
                            <div class="input-group col-sm-4">
                                <input type="text" name="title" id="title" class="form-control" value="{$data['title']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="text-align: right">积分</label>
                            <div class="input-group col-sm-4">
                                <input type="number" name="amount" id="amount" class="form-control" value="{$data['amount']}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$data['id']}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    $(function () {
        $('#add').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
    });
    function checkForm() {
        var title = $('#title').val(),
            amount = $('#amount').val();
        if(title == '') {
            otcms.error('规则不能为空!');
            return false;
        }
        if(amount == '' || amount <= 0) {
            otcms.error('积分必须大于0');
            return false;
        }
    }
    function complete(res) {
        if(res.code == 1) {
            otcms.success(res.msg,res.url);
        }else {
            otcms.error(res.msg);
        }
    }
</script>
</body>
</html>