{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>设置</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div  class="col-sm-2" style="width: 120px">
                        <div class="input-group" >
                            <a class="btn btn-outline btn-primary" href="{:url('add')}">添加</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="long-tr">
                            <th style="width: 5%">ID</th>
                            <th style="width: 10%;text-align: left;">最小金额</th>
                            <th style="width: 10%;text-align: left;">最大金额</th>
                            <th style="width: 10%;text-align: left;">获得积分</th>
                            <th style="width: 10%;text-align: center;">操作</th>
                        </tr>
                        </thead>
                        <tbody id="list-content">
                            {foreach name="data" item="val"}
                            <tr class="long-td">
                                <td style="width: 5%">{$val['id']}</td>
                                <td style="text-align: left;">{$val['begin']}</td>
                                <td style="text-align: left;">{$val['end']}</td>
                                <td style="text-align: left;">{$val['score']}</td>
                                <td>
                                    <a href="javascript:;" onclick="edit({$val['id']})" class="btn btn-primary btn-xs">
                                        <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                    <a href="javascript:;" onclick="del({$val['id']})" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i> 删除</a>
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    function edit(id) {
        window.location = 'edit.html?id=' + id;
    }

    function del(id) {
        otcms.confirm(id,'del.html');
    }


</script>
</body>
</html>